/__pycache__/**
/plot_scripts/__pycache__/**
/trajectories/__pycache__/**
/sph_harmonics/__pycache__/**
/JUICE/**
/mice/**
*.png
/spice_data/callisto_wrt_jupiter_SIII_mag_longperiod1.csv
/.venv/**
/GLL/**
/generic_kernels/**
presentation_test.py
/media/**